name: Continuous Integration
on:
  push:
    branches:
      - "**"
    tags:
      - "v*.*"

jobs:
  build:
    strategy:
      matrix:
        include:
          - os: windows-latest
            platform: win32
            arch: x64
            npm_config_arch: x64
          - os: ubuntu-latest
            platform: linux
            arch: x64
            npm_config_arch: x64
          - os: ubuntu-latest
            platform: linux
            arch: arm64
            npm_config_arch: arm64
          - os: ubuntu-latest
            platform: linux
            arch: armhf
            npm_config_arch: arm
          - os: macos-latest
            platform: darwin
            arch: x64
            npm_config_arch: x64
          - os: macos-latest
            platform: darwin
            arch: arm64
            npm_config_arch: arm64
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: stable
      - shell: bash
        run: mkdir -p "$PWD/servers"; GOBIN="$PWD/servers" go install github.com/nokia/ntt@v0.18.1
      - uses: actions/setup-node@v6
        with:
          node-version: latest
      - run: npm install
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          npm_config_arch: ${{ matrix.npm_config_arch }}
      - shell: pwsh
        run: echo "target=${{ matrix.platform }}-${{ matrix.arch }}" >> $env:GITHUB_ENV
      - run: npx vsce package --target ${{ env.target }}
      - uses: actions/upload-artifact@v6
        with:
          name: ${{ env.target }}
          path: "*.vsix"

publish:
  runs-on: ubuntu-latest
  needs: build
  if: success() && startsWith(github.ref, 'refs/tags/')
  permissions:
    contents: write   # REQUIRED for release uploads
  steps:
    - uses: actions/download-artifact@v7

    - name: Upload VSIX files to GitHub Release
      run: |
        gh release upload "${GITHUB_REF_NAME}" **/*.vsix --clobber
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Publish to VS Code Marketplace
      run: |
        npx vsce publish --packagePath $(find . -name "*.vsix")
      env:
        VSCE_PAT: ${{ secrets.VSCE_PAT }}

